<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Add the evo-calendar.css for styling -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.css"
      integrity="sha256-r2s/dK+UgUBU0+4kDK93RVTOO5qbzD+XIRJDOxKlTFM="
      crossorigin="anonymous"
    />
    <style type="text/css"></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script type="text/javascript">
      window.onload = () => {
        const events = JSON.parse(`<%- JSON.stringify(events) %>`)
        const initialEvents = events.map((event) => {
          return {
            title: 'Busy',
            start: event.start.dateTime,
            end: event.end.dateTime,
          }
        })
        console.log(initialEvents)

        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
          selectable: false,
          initialView: 'timeGridWeek',
          initialEvents,
          height: window.innerHeight,
        })
        calendar.render()
      }
    </script>
  </head>
  <body>
    <div id="calendar"></div>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script>
  </body>
</html>
